<!-- ASIDE -->
<div class="row mt-2 ml-3 pt-2 its-blog-sidebar">
  <div class="col-12">

    <!--  Busqueda -->
    <div class="row pb-2">
      <div class="col col-12">
        <input class="w-75" type="text" placeholder="Buscar">
        <button class="w-25" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>

    <!-- Categorias -->
    <div class="row pb-1">
      <div class="col col-12">

        <div class="row d-none d-md-block">
          <div class="col col-12">
            <h3>CATEGORIAS</h3>
          </div>
        </div>

        <div class="row">
          <div class="col col-12 tags">
            <a href="#" class="d-inline-block mr-2 px-2">Front-end</a>
            <a href="#" class="d-inline-block mr-2 px-2">Back-end</a>
            <a href="#" class="d-inline-block mr-2 px-2">Tutorial</a>
            <a href="#" class="d-inline-block mr-2 px-2">Articulo</a>
          </div>
        </div>
        
      </div>
    </div>

    <!-- ENTRADAS POPULARES -->
    <div class="row pb-3 d-none d-md-block">
      <div class="col col-12">
        <div class="row">
          <div class="col col-12">

            <!-- TITULO -->
            <div class="row">
              <div class="col col-12">
                <h3>ARTICULOS POPULARES</h3>
              </div>
            </div>

            <div class="row mb-2" *ngFor="let publ of Publicaciones|slice:0:3; let i = index;">
            <!-- <div class="row mb-2" *ngFor="let publ of Publicaciones; let i = index;"> -->
              <div class="col col-6" >
                <a [routerLink]="['./',publ.publId]"><img class="w-100" src="{{Imagenes[i].imageUrl}}" *ngIf="Imagenes.length !== 0"></a>
              </div>
              <div class="col col-6">
                <div class="row">
                  <a [routerLink]="['./',publ.publId]"><h4 class="col col-12">{{publ.publName}}</h4></a>
                </div>
                <div class="row">
                  <h5 class="col col-12">{{publ.publDesc}}</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- TAGS -->
    <!-- <div class="row">
      <div class="col col-12">
        <div class="row">
          <div class="col col-12">
            <h3 class="title">TAGS</h3>
          </div>
        </div>
        <div class="row mt-0">
          <div class="col col-12">
            <a class="d-inline-block p-2 mx-1 my-1 bg-info text-white" href="#">Front-end</a>
            <a class="d-inline-block p-2 mx-1 my-1 bg-info text-white" href="#">Back-end</a>
            <a class="d-inline-block p-2 mx-1 my-1 bg-info text-white" href="#">Tutorial</a>
            <a class="d-inline-block p-2 mx-1 my-1 bg-info text-white" href="#">Articulo</a>
          </div>
        </div>
      </div>

    </div> -->
  </div>
</div>