/* sidebar */
.row{
    .col{
        h3{
            text-transform: uppercase;
        }
        a{
            color: #354052;
            span{
                color: #6195FF;
            }
        }
    }
}
