/* You can add global styles to this file, and also import other style files */

body {
    // font-family: 'Varela Round', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;

    h1, h2, h3, h4, h5, h6 {
        // font-family: 'Montserrat', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 20px;
        color: #10161A;
    }
    
    h1 {
        font-size: 54px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 21px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 16px;
    }
    
    a {
        color: #6195FF;
        text-decoration: none;
        -webkit-transition: 0.2s opacity;
        transition: 0.2s opacity;
    }
    
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
        opacity: 0.8;
        color: #6195FF;
    }
    
    .main-color {
        color: #6195FF;
    }
    
    .white-text {
        color: #FFF;
    }
    
    ::-moz-selection {
        background-color: #6195FF;
        color: #FFF;
    }
    
    ::selection {
        background-color: #6195FF;
        color: #FFF;
    }
    
    ul, ol {
        margin: 0;
        padding: 0;
        list-style: none
    }
}