body{
    font-family: 'Montaga', serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    // background-color: #E5E3DF;
    nav{
        a{
            color: #E5E3DF !important;
        }
        background-color: #F54100;
        button{
            .navbar-toggler-icon{
                background-color: #E5E3DF !important;
            }
        }
        ul{
            
            li{
                a{
                    // background-color: aqua;
                    color: #E5E3DF !important;
                }
                a:hover{
                    background-color: #E5E3DF !important;
                    border-radius: 0.5rem;
                    color: #730517 !important;
                }
            }
        }

        
    }
    .its-titulo{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .its-titulo-cuerpo{
        margin-left: 0.2rem;
        display: inline;
        font-size: 0.9rem;
        font-weight: lighter;
    }
    .its-fila-color{
        background-color: #E5E3DF;
    }
    .its-titulo-fecha{
        background-color: #E5E3DF;
        border-radius: 0.2rem;
        display: inline;
    }
    .its-titulo-etiqueta{
        color: #E5E3DF !important;
        background-color: #F54100;
        border-radius: 1.2rem;
        font-size: 0.8rem;
        font-style: normal;
        text-decoration: none;
    }
    .boton{
        background-color: #E5E3DF;
        color: #730517 !important;
    }
    .boton:hover{
        background-color: #A70312;
        color: #E5E3DF !important;
    }
    h1, h2, h3{
        color: #632A4E;
        font-size: 1.2rem;
    }
    p, strong{
        color: #632A4E;
        font-size: 0.9em;    }
    a, li, i{
        color: #730517;
    }
    li{
        display: inline;
    } 
}