<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand ml-3" href="#">iTrebolsoft</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse d-flex justify-content-center w-100" id="collapsibleNavId">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registrate</a>
      </li>
    </ul>
  </div>
</nav>