<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand ml-3" routerLink="/">iTrebolsoft</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse d-flex justify-content-center w-100" id="collapsibleNavId">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/blog">Blog <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLogged()">
        <a class="nav-link" routerLink="/login">Ingresar</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLogged()">
        <a class="nav-link" href="#">Registrate</a>
      </li>
    </ul>
    <div class="row w-50 d-flex justify-content-end" *ngIf="auth.isLogged()">
      <div class="col col-3">
        <a class="btn btn-block btn-outline-danger py-0" routerLink="/admin">Ir al panel</a>
      </div>
      <div class="col col-4 d-flex align-items-center">
        Bienvenido: <strong> {{name}}</strong>
      </div>
      <div class="col col-2">
        <a class="btn btn-block btn-outline-dark py-0" routerLink="/" (click)="auth.Salir()">Salir</a>
      </div>
    </div>
  </div>
</nav>