<div class="mt-5 pt-3 ml-2 mr-0">

  <div class="row ">
    <div class="col col-12">
      <div class="section-header text-center">
        <h3 class="title">ARTICULOS RECIENTES</h3>
      </div>
    </div>
  </div>

  <!-- ENTRADA BLOG -->
  <div class="row ml-2">
    <!-- <div class="row ml-2"> -->

    <div class="col col-4 pb-5" *ngFor="let publ of Publicaciones; let i = index;">

      <div class="row">
        <div class="col col-12">
          <img class="img-responsive mw-100" src="{{Imagenes[i]}}" alt="" *ngIf="Imagenes.length !== 0">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <ul class="blog-meta mx-auto">
            <!-- <li class="d-inline-block mr-4" *ngIf="Autores.length !== 0"><i class="fa fa-user"></i>{{Autores[i]}}</li> -->
            <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>{{publ.publDate|date:'short'}}</li>
            <li class="d-inline-block mr-4"><i class="fa fa-comments"></i></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3><a (click)=IrAEntrada(idArticulo)>{{publ.publName}}</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            {{publ.publBody}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <a routerLink="">Leer mas...</a>
        </div>
      </div>

    </div>

  </div>
</div>