<div class="mt-5 pt-3 ml-2 mr-0">

  <div class="row ">
    <div class="col col-12">
      <div class="section-header text-center">
        <h3 class="title">ARTICULOS RECIENTES</h3>
      </div>
    </div>
  </div>

  <!-- ENTRADA BLOG -->
  <div class="row ml-2">

    <!-- PRIMERO -->
    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3><a (click)=IrAEntrada(idArticulo)>Primera super entrada en mi blog, desde hoy y siempre</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Leer mas...</a>
        </div>
      </div>

    </div>

    <!-- SEGUNDO -->
    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>

    <div class="col col-4 pb-5">

      <div class="row">
        <div class="col col-12">
            <img class="img-responsive mw-100" src="../../../assets/img/blog1.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <ul class="blog-meta">
                <li class="d-inline-block mr-4"><i class="fa fa-user"></i>John doe</li>
                <li class="d-inline-block mr-4"><i class="fa fa-clock-o"></i>18 Oct</li>
                <li class="d-inline-block mr-4"><i class="fa fa-comments"></i>57</li>
              </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3>Primera super entrada en mi blog</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, repudiandae debitis quos exercitationem similique incidunt officia corrupti voluptate molestiae tenetur est, perspiciatis et optio aliquam eaque nemo explicabo at tempora.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
            <a href="blog-single.html">Read more</a>
        </div>
      </div>

    </div>


  </div>
</div>