<div class="container-fluid px-0" >
  <div class="row" >
    <div class="col col-12" >
      <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 mx-0 w-100">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">iTrebolsoft</a>
        <input class="form-control form-control-dark col-sm-8" type="text" placeholder="Buscar" aria-label="Buscar" >
        <ul class="navbar-nav px-3 col-4 d-inline" >
          <li class="nav-item text-nowrap d-inline-block col-4" >
            <a class="nav-link " routerLink="/" >Volver al blog</a>
          </li>
          <li class="nav-item text-nowrap col-4 d-inline-block" >
            <a class="nav-link " routerLink="/">Salir</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>