<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" routerLink="./publicaciones">
            <span data-feather="home"></span>
            Publicaciones <span class="sr-only">(current)</span><i class="fas fa-home float-right"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios">
            <span data-feather="file"></span><i class="fas fa-user float-right"></i>
            Usuarios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proyectos">
            <span data-feather="shopping-cart"></span><i class="fas fa-address-card    float-right"></i>
            Proyectos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">
            <span data-feather="users"></span><i class="fas fa-toolbox    float-right"></i>
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
            Reportes
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reportes guardados</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Mes actual
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav>