<div class="d-flex align-items-center" style=" height: 35em;">
    <div class="row m-auto">
        <div class="col col-12 m-auto text-center w-100">

            <div class="row w-50 mb-3 mx-auto">
                <div class="col col-12 col-md-6 mx-auto">
                    <img class="w-100" src="https://i.imgur.com/BSs5HPk.png" alt="" srcset="">
                </div>
            </div>

            <h1>LOG IN</h1>
            <div class="row w-50 mx-auto">
                <div class="col col-12 w-50">
                    <div class="form-group mw-100 ">
                        <input type="text" class="form-control w-100" name="credenciales.userName" placeholder="Username" [(ngModel)]="credenciales.userName">
                        <input type="password" class="form-control" name="credenciales.password" placeholder="Password" [(ngModel)]="credenciales.password">
                    </div>
                    <div class="form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block boton" style="cursor: pointer;" (click)="Ingresar()">Ingresa</button>
                        <button class="btn btn-block boton" style="cursor: pointer;" routerLink="/">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>