<div class="row mt-3">
  <div class="col col-12 w-100">
    <div class="row mt-1 mw-100">
      <div class="col col-6">
        <h3>NUEVA PUBLICACION</h3>
      </div>
      <div class="col col-3">
        <a class="btn btn-block btn-outline-dark py-0" routerLink="../publicaciones">Volver</a>
      </div>
      <div class="col col-3">
        <a class="btn btn-block btn-outline-dark py-0" (click)="CrearPublicacion()">Crear</a>
      </div>
    </div>
    <div class="row w-100">
      <div class="col col-12 mw-100">
        <input type="text" name="publicacion.publName" class="w-100" placeholder="Titulo de entrada"
          [(ngModel)]="publicacion.publName">
        <input type="text" name="publicacion.publDesc" class="w-100" placeholder="Descripcion de entrada"
          [(ngModel)]="publicacion.publDesc">
        <input type="text" name="publicacion.publEtiq" class="w-100" placeholder="Tecnologia, Articulo, Front-end" [(ngModel)]="publicacion.publEtiq">
        <!-- <label class="w-25">Etiquetas</label> -->
      </div>
    </div>
    <div class="row w-100">
      <div class="col col-12 mw-100 input-group">
        <input type="text" name="image.name" class="w-25" placeholder="Nombre de imagen" [(ngModel)]="image.imageName">
        <input type="text" name="image.url" class="w-75" placeholder="Url de imagen" [(ngModel)]="image.imageUrl">
      </div>
    </div>
    <div class="row w-100">
      <div class="col col-12 mw-100">
        <!-- <angular-editor [(ngModel)]="publicacion.publBody" [config]="config"></angular-editor> -->
        <editor [(ngModel)]="publicacion.publBody"></editor>
      </div>
    </div>
  </div>
</div>